<button class="refresh-btn" ng-click="vm.onRefreshClick()"></button>
<button class="reverse-btn" ng-click="vm.onReverseClick()"></button>
<div class="bookmark-card-list">
  <div ng-if="!vm.bookmarks().length">No Bookmarks Found</div>
  <bm-card ng-repeat="bookmark in vm.bookmarks() track by bookmark.id"
           index="$index"
           bookmark="bookmark"
           on-select-click="vm.selectBookmark(bookmark)"
           on-delete-click="vm.deleteBookmark(bookmark)"
           is-selected="bookmark === vm.selected"></bm-card>
</div>
