bm-cards {
  .bookmark-card-list {
    .make-row();
  }
  .bookmark-card {
    .make-sm-column(6);
    .make-md-column(4);
    .content {
      .thumbnail;
      height: 200px;
      padding: 10px;
    }
    &.selected .content {
      border-color: red;
    }
  }

  .delete-btn, .edit-btn,
  .reverse-btn {
    .glyphicon;
    .pull-right;
    margin-left: 0.1em;

    border: 0;
    background-color: transparent;
    opacity: 0.3;
  }

  .delete-btn, .edit-btn {
    font-size: 1.3em;
  }

  .delete-btn {
    .glyphicon-trash;
  }
  .edit-btn {
    .glyphicon-pencil;
  }

  .reverse-btn {
    font-size: 2em;
    .glyphicon-sort;
  }
}
